{%extends ' name/base.html%}
{%block title%}
    Tiklash
{%endblock title%}


{%block content%}
 <h1>Parolni tiklash</h1>
<p>Parolingizni o'zgartirish uchun quyidagi formani to'ldiring</p>
    {%if validlink%}

     <p>Iltimos yangi parolni toldiring</p>
        <form method="post">{%csrf_token%}
          {{form.as_p}}
            <p><button type="submit">Parolni almashtirish</button> </p>
        </form>
    {%else%}
        <p>Siz notog'ri linkdan foydalandingiz</p>
    {%endif%}


{%endblock content%}