{% extends 'news/base.html' %}
{% load static %}


{%block title %}Mahalliy{%endblock title%}

{%block content%}


    {% for news in mahaliy_news %}
        <div class="container">
            <div class="row">

            <div class="single_post_content_left">
              <ul class="spost_nav">


                <li>
                  <div class="media wow fadeInDown"> <a href="{{news.get_absolute_url}}" class="media-left"> <img alt="" src="{{ news.image.url }}" style="width:100px"> </a>
                    <div class="media-body"> <a href="{{news.get_absolute_url}}" class="catg_title">{{news.title}}</a> </div>
                  </div>
                </li>


              </ul>
            </div>

    {%endfor%}

{% endblock content %}