{% extends 'news/base.html' %}
{% load static %}
<title>News detail</title>
</head>
{%block content%}
<style>.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.page_center{
margin-left: auto;
  margin-right: auto;
  width:100%;
  text-align: justify;
}
</style>
<div class="page_center">
    <h1>{{ news.title}}</h1>
    <p>{{ news.publish_time}}</p>
    <img src="{{news.image.url}}" class="center">
    <p>
        {{ news.body | linebreaks}}
    </p>
</div>
{%if request.user.is_authenticated and request.user.is_superuser %}
<div class="card-footer text-center" style="padding:10px">
    <a href="{% url 'news_update' news.slug%}">
        <button>Tahrirlash</button>
    </a>
    <a href="{% url 'news_delete' news.slug%}">
        <button>O'chirish</button>
    </a>

</div>
{%endif%}<br>
    {%for comment in comments%}



        <div class="comments"style="padding:10px">
            <p class="font-weight-bold">
                {{comment.user}}
                <span class="text-muted font-weight-normal">
                    {{comment.created_time}}
                </span>
            </p>
            {{comment.body| linebreaks}}
        </div>

{%endfor%}

{%if user.is_authenticated%}
<div class="col-md-8 card nb-4 mt-3 ">
    <div class="card-body">
        <h3>Izoh qoldirish</h3>
        <form method="post" style="margin-top:1.3em">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg">
                Yuborish
            </button>
        </form>
    </div>
</div>
{%else%}
<div class="card-body">
    <p class="text-danger">Izoh qoldirish uchun<a href="{% url 'user_register' %}" > ro'yhatdan o'ting</a> yoki <a href="{% url 'login' %}"> saytga kiring</a> </p>
</div>
{%endif%}

{%endblock content%}
